@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <h3>@Model.Message</h3> <!-- Write message catched from create model tempdata -->

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Efternavn</th>
                <th>Mail</th>
                <th>Rediger</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Mail</td>
                    <td><a asp-page="./Edit" asp-route-id="@customer.Id">Rediger</a></td>
                    <td><button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">Slet</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div><a asp-page="./Create">Opret</a></div>
</form>